<button {{action this.switchObjects}}>Switch Models</button>
<button {{action this.appendItem}}>Append Item</button>
<button {{action this.prependItem}}>Prepend Item</button>
<button {{action this.switchGutter}}>Switch Gutter</button>

<MasonryGrid
        @items={{this.currentObject}}
        @gutter={{this.gutter}}
        @onLayout={{action this.onLayout}}
        @onLayoutComplete={{action this.onLayoutComplete}}
        @onItemClick={{action this.onItemClick}}
        as |item|>
  <img src={{item.imgsrc}}><br>
</MasonryGrid>